.form-inline label{
    justify-content: flex-start;
    }
    .button-green{
        background-color:#30ba8f;
        color:white;
        font-size:13px;
        margin-right:3px;
    }
    .button-blue{
        background-color:#5a4fcf;;
        color:white;
        font-size:13px;
        margin-right:3px;
    }
    .right-float{
        float:right;
    }
    .left-float{
        float:left;
    }
    .height-30{
        height:30px;
    }
    .form-control .width-75{
        width:75%;
    }
    .pagecontent{
        background-color:whitesmoke;
        border-radius: 15px;
        padding:20px; 
    }
    .pagecontentnav{
        background-color:whitesmoke;
        border-radius:5px;
        padding-top:10px; 
    }
    .registrationform{
        background-color:rgb(224, 220, 220);
        border-radius: 15px;
        padding:20px;
        margin:150px 100px;
    }
    .registrationcontent{
        padding:20px;
    }
     .registration-backgroundimg {
        background: rgba(0,0,0,0.5);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: background .2s linear;
    }
    .registration-backgroundimg img{
        max-width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
    .myforms .form-inline label{
    justify-content: flex-start;
    }
    .font-12{
        font-size: 12px;
        font-weight: 500;
    }
    .font-14{
        font-size: 14px;
        font-weight: 600;
    }
    .font-16{
        font-size: 16px;
        font-weight: 600;
    }
    .font-18{
        font-size: 18px;
        font-weight: 500;
    }
    .font-20{
        font-size: 20px;
        font-weight: 600;
    }
    .font-22{
        font-size: 22px;
        font-weight: 600;
    }
    .font-24{
        font-size: 24px;
        font-weight: 600;
    }
    .padding-10{
        padding:10px;
    }
    .text-center{
        text-align: center
    }
    .myborder-bottom{
        border-bottom:3px solid rgb(122, 120, 120)
    }
    .z-index-2020{
        z-index: 2020;
    }
    .border-radius-5 {
        border-radius: 5px !important;
    }
    .border-radius-left-25 {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .border-radius-left-25 a:hover {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .padding-0
    {
        padding:0;
    }
    .dropzone-bulk{
        border:2px dashed #b6c2c9;
        border-style:dashed groove dashed groove;
        color:rgb(29, 28, 28);
        padding:70px 40px;
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 0.5px;
        text-align: center;
    }
    .text-capitalize{
        text-transform:capitalize;
    }
    .text-uppercase{
        text-transform:uppercase;
    }
    .name-linking{
        cursor:pointer;
        text-decoration:underline;
    }
    .shadow-card{
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        transition: box-shadow 0.58s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .shadow-card:hover{
        box-shadow: 0px 8px 15px -7px rgba(0, 0, 0, 0.2), 0px 8px 16px 3px rgba(0, 0, 0, 0.14), 0px 9px 16px 0px rgba(0, 0, 0, 0.12);
    }
    .width-100{
        width:100%;
    }
    .scroll-overflow-x{
        overflow-x:scroll;
    }
    .nowrap-white-space{
        white-space: nowrap;
    }
    .padding-topbottom-5{
        padding:0 5px
    }
    .color-light-green{
        background:#caffc6
    }
    .color-light-red{
        background: #ffc6c7
    }
    .body-background{
        background:#D9E0E7;
    }
    .v-select.v-select--is-menu-active .v-input__icon--append .v-icon {
        -webkit-transform: rotate(0deg) !important;
        transform: rotate(0deg) !important;
    }
    .height-100 {
        height: 100px !important;
    }
    .loading-content {
        position: absolute;
        top: 0;
        left: 0;
        z-index:1;
        width: 100%;
        height: 100%;
        text-align: center;
        background: rgb(255, 255, 255, 0.7);
        display: flex;
        align-items:center;
      }
      .loading-content .spin-icon {
        margin: auto;
        width: 40px;
        height: 40px;
      
        border: solid 3px transparent;
        border-top-color:  #666;
        border-left-color: #666;
        border-radius: 80px;
      
        -webkit-animation: loading-spinner 500ms linear infinite;
        -moz-animation:    loading-spinner 500ms linear infinite;
        -ms-animation:     loading-spinner 500ms linear infinite;
        -o-animation:      loading-spinner 500ms linear infinite;
        animation:         loading-spinner 500ms linear infinite;
      }
      
      @-webkit-keyframes loading-spinner {
        0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
      }
      
      @-moz-keyframes loading-spinner {
        0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
        100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
      }
      
      @-o-keyframes loading-spinner {
        0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
        100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
      }
      
      @-ms-keyframes loading-spinner {
        0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
        100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
      }
      
      @keyframes loading-spinner {
        0%   { transform: rotate(0deg);   transform: rotate(0deg); }
        100% { transform: rotate(360deg); transform: rotate(360deg); }
      }
@media print {
    body * {
      visibility: hidden;
    }
    body{
        background: white;
    }
    #section-to-print, #section-to-print * {
      visibility: visible;
    }
    .pagebreak
    {
        page-break-after: always;
    }   
    .padding-print-0{
        padding:0px !important;
    }
    .tab-display-none{
        display: none !important;
    }
}